---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  readability-redundant-*,
  readability-simplify-*
WarningsAsErrors: "*"
HeaderFilterRegex: "^(src/|.*/src/)"
FormatStyle: file
CheckOptions:
  - key: bugprone-reserved-identifier.AllowedIdentifiers
    value: "^(_GNU_SOURCE|WLR_USE_UNSTABLE)$"
